//! **************************************************************************
// Written by: Map P.20131013 on Mon Sep 28 15:13:04 2015
//! **************************************************************************

SCHEMATIC START;
COMP "SWITCH<15>" LOCATE = SITE "P4" LEVEL 1;
COMP "ANODE<0>" LOCATE = SITE "N6" LEVEL 1;
COMP "ANODE<1>" LOCATE = SITE "M6" LEVEL 1;
COMP "LED<10>" LOCATE = SITE "V1" LEVEL 1;
COMP "ANODE<2>" LOCATE = SITE "M3" LEVEL 1;
COMP "LED<11>" LOCATE = SITE "R1" LEVEL 1;
COMP "ANODE<3>" LOCATE = SITE "N5" LEVEL 1;
COMP "LED<12>" LOCATE = SITE "P5" LEVEL 1;
COMP "ANODE<4>" LOCATE = SITE "N2" LEVEL 1;
COMP "LED<13>" LOCATE = SITE "U1" LEVEL 1;
COMP "ANODE<5>" LOCATE = SITE "N4" LEVEL 1;
COMP "LED<14>" LOCATE = SITE "R2" LEVEL 1;
COMP "ANODE<6>" LOCATE = SITE "L1" LEVEL 1;
COMP "LED<15>" LOCATE = SITE "P2" LEVEL 1;
COMP "ANODE<7>" LOCATE = SITE "M1" LEVEL 1;
COMP "SEGMENT<0>" LOCATE = SITE "L3" LEVEL 1;
COMP "SEGMENT<1>" LOCATE = SITE "N1" LEVEL 1;
COMP "SEGMENT<2>" LOCATE = SITE "L5" LEVEL 1;
COMP "SEGMENT<3>" LOCATE = SITE "L4" LEVEL 1;
COMP "SEGMENT<4>" LOCATE = SITE "K3" LEVEL 1;
COMP "SEGMENT<5>" LOCATE = SITE "M2" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "T8" LEVEL 1;
COMP "SEGMENT<6>" LOCATE = SITE "L6" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "V9" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "R8" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "T6" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "T5" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "T4" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "U7" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "U6" LEVEL 1;
COMP "LED<8>" LOCATE = SITE "V4" LEVEL 1;
COMP "LED<9>" LOCATE = SITE "U3" LEVEL 1;
COMP "BTNC" LOCATE = SITE "E16" LEVEL 1;
COMP "SWITCH<0>" LOCATE = SITE "U9" LEVEL 1;
COMP "BTND" LOCATE = SITE "V10" LEVEL 1;
COMP "BTNL" LOCATE = SITE "T16" LEVEL 1;
COMP "CLK" LOCATE = SITE "E3" LEVEL 1;
COMP "BTNR" LOCATE = SITE "R10" LEVEL 1;
COMP "BTNU" LOCATE = SITE "F15" LEVEL 1;
COMP "SWITCH<13>" LOCATE = SITE "R3" LEVEL 1;
COMP "SWITCH<14>" LOCATE = SITE "P3" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "UP_Oneshot/Flip/Q" BEL "Register3/Q_3" BEL
        "Register3/Q_2" BEL "Register3/Q_1" BEL "Register3/Q_0" BEL
        "pulse50/cnt/count_1" BEL "pulse50/cnt/count_0" BEL
        "Register5/count_3" BEL "Register5/count_2" BEL "Register5/count_1"
        BEL "Register5/count_0" BEL "Register5/Q_3" BEL "Register5/Q_2" BEL
        "Register5/Q_1" BEL "Register5/Q_0" BEL "Register4/count_3" BEL
        "Register4/count_2" BEL "Register4/count_1" BEL "Register4/count_0"
        BEL "Register4/Q_3" BEL "Register4/Q_2" BEL "Register4/Q_1" BEL
        "Register4/Q_0" BEL "Register2/count_3" BEL "Register2/count_2" BEL
        "Register2/count_1" BEL "Register2/count_0" BEL "Register2/Q_3" BEL
        "Register2/Q_2" BEL "Register2/Q_1" BEL "Register2/Q_0" BEL
        "pulse50/cnt/Q_1" BEL "pulse50/cnt/Q_0" BEL "CLK_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

